.parentContainer {
  width: 100%;
  font-family: "YekanBakh", sans-serif, Arial, Helvetica;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 35px 0 0;
}

.header {
  width: 284px;
  height: 170px;
  border: 1px solid #00000033;
  border-radius: 10px;
  margin-left: 30px;
  overflow: hidden;
}

.headerItem {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 16.7px 10px;
  cursor: pointer;
}

.headerItem:hover {
  background-color: #f0f0f0;
}

.headerItem.active {
  background-color: #28a74540;
  color: #28a745;
}

.hrLine {
  height: 0.5px;
  background-color: #00000033;
  border: none;
  margin: 0 10px;
}

.headerItem img {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.headerItem p {
  font-size: 14px;
  font-weight: 400;
}

.main {
  width: 872px;
}

.mainItem {
  width: 100%;
  border: 1px solid #00000033;
  border-radius: 10px;
  text-align: right;
  margin-bottom: 20px;
}

.mainItem h2 {
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  word-spacing: 2px;
}

.mainItemOne p {
  font-size: 14px;
  font-weight: 300;
  word-spacing: 3px;
}

.mainItemOne span {
  font-size: 14px;
  font-weight: 400;
  font-family: "Vazir-FD", sans-serif, Arial, Helvetica;
  color: #282828;
}

.mainItemOne {
  height: 45px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  margin: 10px 0 20px;
}

.mainChildOne {
  display: flex;
  justify-content: space-between;
  width: 23%;
}

.mainChildTwo {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.displayView {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.displayView img {
  cursor: pointer;
}

.displayView button {
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  color: #009eca;
  font-family: "YekanBakh", sans-serif, Arial, Helvetica;
  padding: 5px 7px 0;
  outline: none;
  cursor: pointer;
}

.email {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.email p {
  padding: 0 0 0 70px;
}

.email span {
  font-size: 20px;
}

.mainHeaderInformation {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.editInformationButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}

.editInformationButton img {
  cursor: pointer;
}

.editInformationButton button {
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  color: #009eca;
  font-family: "YekanBakh", sans-serif, Arial, Helvetica;
  padding: 5px 7px 0;
  outline: none;
  cursor: pointer;
}

.mainInformation {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.informationCustom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 22%;
}

.informationCustomBirth {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 50%;
}

.informationCustomBirth div {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.informationCustomBirth div p {
  padding: 10px 0 15px;
  font-size: 14px;
  font-weight: 300;
  word-spacing: 3px;
}

.informationCustomBirth div span {
  padding: 10px 0 15px;
  font-size: 14px;
  font-weight: 400;
  color: #282828;
  font-family: "Vazir-FD", sans-serif, Arial, Helvetica;
}

.informationCustom div {
  display: flex;
  flex-direction: column;
}

.informationCustom div p {
  padding: 10px 0 15px;
  font-size: 14px;
  font-weight: 300;
  word-spacing: 3px;
}

.informationCustom div span {
  padding: 10px 0 15px;
  font-size: 14px;
  font-weight: 600;
  color: #282828;
}

.informationBank {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 35%;
}

.specifications {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.informationBank div {
  display: flex;
  flex-direction: column;
}

.informationBank div p {
  padding: 10px 0 15px;
  font-size: 14px;
  font-weight: 300;
  word-spacing: 3px;
}

.informationBank div span {
  padding: 10px 0 15px;
  font-size: 14px;
  font-weight: 400;
  color: #282828;
  font-family: "Vazir-FD", sans-serif, Arial, Helvetica;
}

.informationBankCart {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 50%;
}

.informationBankCart p {
  padding: 10px 20px 0;
  font-size: 14px;
  font-weight: 300;
  word-spacing: 3px;
}

.informationBankCart span {
  padding: 10px 0 15px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #282828;
  font-family: "Vazir-FD", sans-serif, Arial, Helvetica;
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: #282828;
}

.profileIcon {
  -webkit-mask-image: url("/images/frame-black.svg");
  mask-image: url("/images/frame-black.svg");
}

.toursIcon {
  -webkit-mask-image: url("/images/sun-fog.svg");
  mask-image: url("/images/sun-fog.svg");
}

.transactionsIcon {
  -webkit-mask-image: url("/images/convert-card.svg");
  mask-image: url("/images/convert-card.svg");
}

.headerItem.active .icon {
  background-color: #28a745;
}

.contactField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: 30px;
}

.editView {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inlineInput {
  width: 255px;
  height: 45px;
  border: 1px solid #00000080;
  border-radius: 5px;
  padding: 0px 10px;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  font-family: "YekanBakh", sans-serif, Arial, Helvetica;
}

.editAcceptButton {
  width: 122px;
  height: 45px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: "YekanBakh", sans-serif, Arial, Helvetica;
  outline: none;
}

.editingGrid {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.editingGrid input {
  width: 255px;
  height: 45px;
  border: 1px solid #00000080;
  border-radius: 5px;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  font-family: "YekanBakh", sans-serif, Arial, Helvetica;
  padding: 0 10px;
  margin: 0 5px 15px 20px;
}

.editingGrid select {
  width: 255px;
  height: 45px;
  border: 1px solid #00000080;
  border-radius: 5px;
  text-align: right;
  margin: 0 5px 15px 0;
  font-family: "YekanBakh", sans-serif, Arial, Helvetica;
}

.lineHr {
  height: 0.5px;
  background-color: #00000033;
  border: none;
  margin-top: 5px;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 0 30px;
}

.buttonsBank {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 0 20px;
}

.buttonSave {
  width: 144px;
  height: 41px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: "YekanBakh", sans-serif, Arial, Helvetica;
  outline: none;
  margin: 0px 0 0 10px;
}

.buttonCancel {
  width: 144px;
  height: 41px;
  border: 2px solid #28a745;
  border-radius: 5px;
  background-color: #fff;
  color: #28a745;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: "YekanBakh", sans-serif, Arial, Helvetica;
  outline: none;
}

.empty {
  width: 15px;
  height: 0.5px;
  background-color: #000;
  border: none;
  margin: 10px 0;
}

.customGender {
  direction: rtl;
  text-align: right;
  width: 100%;
  padding: 0 10px;
  margin: 0 7px;
  background-image: url("/images/arrow-down-black.svg");
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 10px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.myToursTab {
  border-radius: 10px;
  border: 1px solid #00000033;
  padding: 15px 20px;
}

.tourCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  border: 1px solid #00000033;
  border-radius: 10px;
  margin-bottom: 20px;
}

.tourHeader {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 13px 15px;
}

.itemHeader {
  display: flex;
  align-items: center;
}

.itemHeader h2 {
  font-size: 16px;
  font-weight: 400;
  word-spacing: 2px;
}

.itemHeader span {
  font-size: 16px;
  font-weight: 400;
  word-spacing: 2px;
}

.itemHeader img {
  margin-left: 7px;
}

.statusBadge {
  padding: 2px 10px;
  border-radius: 27px;
  font-size: 12px;
  font-weight: 400;
  word-spacing: 2px;
}

.statusCompleted {
  background-color: #28a7454d;
  color: #28a745;
}

.statusOngoing {
  background-color: #d1b9004d;
  color: #d1b900;
}

.statusUpcoming {
  background-color: #cfebff;
  color: #008cff;
}

.tourDetails {
  width: 100%;
}

.tourInfo {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.tourInfo p {
  width: 40%;
  direction: rtl;
  font-size: 16px;
  font-weight: 600;
  word-spacing: 3px;
  padding: 0 10px 0 0px;
}

.tourInfo span {
  direction: rtl;
  font-size: 14px;
  font-weight: 400;
  color: #00000099;
  font-family: "Vazir-FD", sans-serif, Arial, Helvetica;
  word-spacing: 0;
}

.lineHr {
  background-color: #00000033;
  border: none;
}

.tourMeta {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px;
}

.tourId {
  padding: 5px 10px 5px 20px;
  border-left: 1px solid #00000033;
  direction: rtl;
  color: #00000080;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.tourId span {
  font-family: "Vazir-FD", sans-serif, Arial, Helvetica;
  font-size: 14px;
  font-weight: 500;
  color: #282828;
  padding-right: 10px;
}

.tourPrice {
  font-size: 16px;
  font-weight: 400;
  padding: 5px 20px;
  color: #00000080;
}

.tourPriceLabel1 {
  color: #282828;
  padding-right: 10px;
  font-family: "Vazir-FD", sans-serif, Arial, Helvetica;
  font-size: 14px;
  font-weight: 500;
}

.tourPriceLabel2 {
  font-family: "Vazir-FD", sans-serif, Arial, Helvetica;
  font-size: 11px;
  font-weight: 300;
}

.dat {
  padding: 0 7px;
}

.customDateInput {
  width: 100%;
  height: 48px;
  padding-right: 30px !important;
  cursor: pointer;
  background-image: url("/images/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 5px center;
}
