.mainItem {
  width: 100%;
  border: 1px solid #00000033;
  border-radius: 10px;
  text-align: right;
  margin-bottom: 20px;
  overflow: hidden;
}

.mainItem h2 {
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  word-spacing: 2px;
}

.mainItemOne p {
  font-size: 14px;
  font-weight: 300;
  word-spacing: 3px;
}

.mainItemOne span {
  font-size: 14px;
  font-weight: 400;
  font-family: "Vazir-FD", sans-serif, Arial, Helvetica;
  color: #282828;
}

.mainItemOne {
  height: 45px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  margin: 10px 0 20px;
}

.mainChildOne {
  display: flex;
  justify-content: space-between;
  width: 23%;
}

.mainChildTwo {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.displayView {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.displayView img {
  cursor: pointer;
}

.displayView button {
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  color: #009eca;
  font-family: "YekanBakh", sans-serif, Arial, Helvetica;
  padding: 5px 7px 0;
  outline: none;
  cursor: pointer;
}

.email {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.email p {
  padding: 0 0 0 70px;
}

.email span {
  font-size: 20px;
}

.mainHeaderInformation {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.editInformationButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}

.editInformationButton img {
  cursor: pointer;
}

.editInformationButton button {
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  color: #009eca;
  font-family: "YekanBakh", sans-serif, Arial, Helvetica;
  padding: 5px 7px 0;
  outline: none;
  cursor: pointer;
}

.mainInformation {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.informationCustom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 22%;
}

.informationCustomBirth {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 50%;
}

.informationCustomBirth div {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.informationCustomBirth div p {
  padding: 10px 0 15px;
  font-size: 14px;
  font-weight: 300;
  word-spacing: 3px;
}

.informationCustomBirth div span {
  padding: 10px 0 15px;
  font-size: 14px;
  font-weight: 400;
  color: #282828;
  font-family: "Vazir-FD", sans-serif, Arial, Helvetica;
}

.informationCustom div {
  display: flex;
  flex-direction: column;
}

.informationCustom div p {
  padding: 10px 0 15px;
  font-size: 14px;
  font-weight: 300;
  word-spacing: 3px;
}

.informationCustom div span {
  padding: 10px 0 15px;
  font-size: 14px;
  font-weight: 600;
  color: #282828;
}

.informationBank {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 35%;
}

.specifications {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.specificationsCart {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.informationBank div {
  display: flex;
  flex-direction: column;
}

.informationBank div p {
  padding: 10px 0 15px;
  font-size: 14px;
  font-weight: 300;
  word-spacing: 3px;
}

.informationBank div span {
  padding: 10px 0 15px;
  font-size: 14px;
  font-weight: 400;
  color: #282828;
  font-family: "Vazir-FD", sans-serif, Arial, Helvetica;
}

.informationBankCart {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 50%;
}

.informationBankCart p {
  padding: 10px 20px 0;
  font-size: 14px;
  font-weight: 300;
  word-spacing: 3px;
}

.informationBankCart span {
  padding: 10px 0 15px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #282828;
  font-family: "Vazir-FD", sans-serif, Arial, Helvetica;
}

.contactField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: 30px;
}

.editView {
  display: flex;
  gap: 10px;
}

.inlineInput {
  width: 255px;
  height: 45px;
  border: 1px solid #00000080;
  border-radius: 5px;
  padding: 0px 10px;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  font-family: "YekanBakh", sans-serif, Arial, Helvetica;
}

.editAcceptButton {
  width: 122px;
  height: 45px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: "YekanBakh", sans-serif, Arial, Helvetica;
  outline: none;
}

.editingGrid {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.editingGrid input {
  width: 255px;
  height: 45px;
  border: 1px solid #00000080;
  border-radius: 5px;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  font-family: "YekanBakh", sans-serif, Arial, Helvetica;
  padding: 0 10px;
  margin: 0 5px 0 20px;
}

.editingGrid select {
  width: 255px;
  height: 45px;
  border: 1px solid #00000080;
  border-radius: 5px;
  text-align: right;
  margin: 0 5px 0 0;
  font-family: "YekanBakh", sans-serif, Arial, Helvetica;
}

.editingGrid input:focus,
.editingGrid select:focus,
.inlineInput:focus {
  outline: none;
  border-color: #28a745;
}

.lineHr {
  height: 0.5px;
  background-color: #00000033;
  border: none;
  margin-top: 5px;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 0 30px;
}

.buttonsBank {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 0 20px;
}

.buttonSave {
  width: 144px;
  height: 41px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: "YekanBakh", sans-serif, Arial, Helvetica;
  outline: none;
  margin: 0px 0 0 10px;
}

.buttonSave:hover {
  background-color: #1f8437;
  transition: all 0.1s ease-in-out;
}

.buttonCancel {
  width: 144px;
  height: 41px;
  border: 2px solid #28a745;
  border-radius: 5px;
  background-color: #fff;
  color: #28a745;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: "YekanBakh", sans-serif, Arial, Helvetica;
  outline: none;
}

.empty {
  width: 15px;
  height: 0.5px;
  background-color: #000;
  border: none;
  margin: 10px 0;
}

.customGender {
  direction: rtl;
  text-align: right;
  width: 100%;
  padding: 0 10px;
  margin: 0 7px;
  background-image: url("/images/arrow-down-black.svg");
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 10px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.customDateInput {
  width: 100%;
  height: 48px;
  padding-right: 30px !important;
  cursor: pointer;
  background-image: url("/images/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 5px center;
}

.parentError {
  height: 25px;
}

.error {
  color: red;
  text-align: right;
  font-family: "YekanBakh", sans-serif, Arial, Helvetica;
  padding: 0 10px;
  font-size: 14px;
}

@media (max-width: 1024px) {
  .mainInformation {
    flex-direction: column;
    gap: 15px;
  }

  .informationCustom div {
    padding: 0 20px;
  }

  .editInformationButton {
    width: 20%;
  }

  .informationCustom,
  .informationCustomBirth {
    width: 100%;
    justify-content: space-around;
  }

  .informationBankCart {
    width: 80%;
    justify-content: space-between;
  }

  .informationBank {
    width: 80%;
    justify-content: space-between;
  }

  .informationBankCart p {
    padding: 0;
  }

  .informationBankCart span {
    padding: 0;
    margin: 0;
  }

  .specifications {
    align-items: center;
    justify-content: center;
  }

  .specificationsCart {
    justify-content: center;
    align-items: center;
  }

  .buttonsBank {
    margin: 10px 0 0 30px;
  }
}

@media (max-width: 768px) {
  .mainItem h2,
  .editInformationButton button,
  .mainItemOne p,
  .mainItemOne span {
    font-size: 13px;
  }

  .editInformationButton {
    width: 30%;
  }

  .mainItemOne {
    flex-direction: column;
    height: auto;
    gap: 20px;
    align-items: flex-end;
    padding: 0 15px;
  }

  .mainChildOne,
  .contactField {
    width: 100%;
    margin-right: 0;
    justify-content: space-around;
  }

  .mainChildOne p {
    margin-left: 90px;
  }

  .contactField {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .editView {
    width: 100%;
  }

  .inlineInput input {
    width: 100%;
  }

  .editAcceptButton {
    width: 25%;
  }

  .email {
    width: 100%;
    justify-content: space-around;
  }
  .email p {
    padding: 0;
  }

  .editingGrid {
    flex-direction: column;
  }

  .editingGrid > div {
    width: 100%;
    padding: 0;
  }

  .fieldFullName {
    order: 1;
  }
  .fieldGender {
    order: 2;
  }
  .fieldNationalCode {
    order: 3;
  }
  .fieldBirthDate {
    order: 4;
  }
  .fieldShaba {
    order: 1;
  }
  .fieldCardNumber {
    order: 3;
  }
  .fieldAccountNumber {
    order: 2;
  }

  .informationBankCart {
    width: 90%;
    justify-content: space-around;
  }

  .informationBank {
    width: 90%;
    justify-content: space-around;
  }

  .buttons,
  .buttonsBank {
    gap: 10px;
    margin: 10px 0 0 0;
  }

  .buttonSave,
  .buttonCancel {
    flex: 1;
    width: auto;
    margin: 0;
  }
}

@media (max-width: 350px) {
  .informationBankCart {
    width: 100%;
  }

  .informationBank {
    width: 100%;
  }

  .inlineInput {
    width: 100%;
  }

  .editAcceptButton {
    width: 30%;
  }
}
