.backgroundBlur {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1.5px);
  font-family: "YekanBakh", sans-serif, Arial, Helvetica;
}

.container {
  width: 561px;
  height: 362px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header {
  width: 100%;
  position: absolute;
  top: 17;
  left: 15;
}

.backButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.title {
  font-size: 28px;
  font-weight: 600;
  color: #282828;
}

.title p {
  font-size: 16px;
  font-weight: 400;
}

.title span {
  font-family: "Vazir-FD", sans-serif, Arial, Helvetica;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.otpContainer {
  width: 60%;
  padding: 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.otpInput {
  width: 58px !important;
  height: 53px;
  border-radius: 6px;
  border: 1px solid #00000040;
}

.containerError {
  height: 25px;
  display: flex;
  align-items: center;
}

.error {
  color: red;
}

.resendContainer {
  padding-bottom: 22px;
}

.resendContainer p {
  font-size: 14px;
  font-weight: 300;
}

.timer {
  color: #282828;
  font-family: "Vazir-FD", sans-serif, Arial, Helvetica;
  font-size: 14px;
  font-weight: 300;
}

.resendButton {
  background-color: transparent;
  border: none;
  font-family: "Vazir-FD", sans-serif, Arial, Helvetica;
  font-size: 14px;
  font-weight: 300;
  color: #00be2c;
  text-decoration: underline;
  padding: 0 5px;
  cursor: pointer;
}

.submitButton {
  width: 80%;
  height: 54px;
  border: 1px solid #00000040;
  background-color: #28a745;
  border-radius: 6px;
  color: #fff;
  font-family: "Vazir-FD", sans-serif, Arial, Helvetica;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
