* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Vazir-FD";
  src: url("/fonts/Vazir-FD.woff2") format("woff2"),
       url("/fonts/Vazir-FD.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/YekanBakhRegular.otf") format("opentype");
  src: url("/fonts/YekanBakhBold.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
